
    <li>
        <a href="#">
            <span class="adminpro-icon adminpro-home-admin author-log-ic"></span>
            My Account
        </a>
    </li>
    <li>
        <a href="#">
            <span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>
            My Profile
        </a>
    </li>
    <li>
        <a href="#">
            <span class="adminpro-icon adminpro-money author-log-ic"></span>
            User Billing
        </a>
    </li>
    <li>
        <a href="#" target="_self" (click)="LogOut($event)">
            <span class="adminpro-icon adminpro-locked author-log-ic"></span>
            Log Out
        </a>
    </li>