
// .container-login100{
//     background-image: url('../../../assets/images/bg-01.jpg');
// }
@font-face {
    font-family: SourceSansPro-Regular;
    // src: url("../../../assets/source-sans-pro/SourceSansPro-Regular.ttf");
    src: url("../../../assets/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url("../../../assets/source-sans-pro/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: SourceSansPro-SemiBold;
    src: url("../../../assets/source-sans-pro/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: JosefinSans-Bold;
    src: url("../../../assets/JosefinSans/JosefinSans-Bold.ttf");
}
@import './../../../assets/scss/login/util.scss';
@import './../../../assets/scss/login/main.scss';