<div class="message-single-top">
    <h1>Message</h1>
</div>
<ul class="message-menu">
    <li>
        <a href="#">
            <div class="message-img">
                <img src="./../../../../assets/images/message/1.jpg" alt="">
            </div>
            <div class="message-content">
                <span class="message-date">16 Sept</span>
                <h2>Advanda Cro</h2>
                <p>Please done this project as soon possible.</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="message-img">
                <img src="./../../../../assets/images/message/4.jpg" alt="">
            </div>
            <div class="message-content">
                <span class="message-date">16 Sept</span>
                <h2>Sulaiman din</h2>
                <p>Please done this project as soon possible.</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="message-img">
                <img src="./../../../../assets/images/message/3.jpg" alt="">
            </div>
            <div class="message-content">
                <span class="message-date">16 Sept</span>
                <h2>Victor Jara</h2>
                <p>Please done this project as soon possible.</p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="message-img">
                <img src="./../../../../assets/images/message/2.jpg" alt="">
            </div>
            <div class="message-content">
                <span class="message-date">16 Sept</span>
                <h2>Victor Jara</h2>
                <p>Please done this project as soon possible.</p>
            </div>
        </a>
    </li>
</ul>
<div class="message-view">
    <a href="#">View All Messages</a>
</div>